body{
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    width: 100%;
}
a{
    text-decoration: none;
}
thead, tbody{
    width: 100%;
}
thead th {
    width:40vw;
}
.color-container{
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 4px;
}
input[type='color'].form-control-color {
    width: 40px; 
    height: 30px; 
    border: none;
    border-radius: 24px;
    box-shadow: 0px 0px 5px #888888;
}
.index-view{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/bus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100vw;
}
.index-view-div{
    color: #005a9c;
    font-size: xx-large;
    width: 70%;
    height: 50%;
    max-height: 220px;
    min-width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px groove #d58500;
    border-radius: 12px;
    box-shadow: inset -8px -10px 32px gray;
}
.menu{
    padding: 4px 4px 4px 6px;
}
.navbar{
    padding: 0;
}
.nav-link{
    color: rgb(255, 255, 255);
}
.add-user{
    min-height: 100vh;
    border: 1px ridge #d58500;
} 
.add-button{
    width: 128px;
}
.form-check{
    margin: 8px 4px 0 4px;
}
.tr-head{
    width: 90%;
}
.t-text{
    text-align: center;
}
.t-content{
    vertical-align: middle;
}
.t-selector{
    justify-content: end;
}
.themes{
    border:1px solid #555555;
    border-radius: 10px;
}
.secondary-header-text{
    font-weight: bold;
}
.td-actions{
        margin-left: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.btn-actions{
    margin-right: 8px;
    margin-left: 8px;
}
.transactions-div, .config-div{
    margin-top: 0;
    border-top: 1px ridge #d58500;
    padding: 8px 8px 0 8px;
    margin-top: 0;
}
.custom-label{
    margin-top: 4px;
}
.custom-select{
    width: 100%;
}
.custom-switch{
    align-items: start;
}
.custom-input-color {
    width: 30px; /* Define el ancho deseado para el input */
    height: 30px; /* Define la altura deseada para el input */
    padding: 0; /* Elimina el relleno interno predeterminado */
    /* background-color: #e0e0e0; Cambia el fondo a tu color deseado */ 
    border: none; /* Elimina el borde predeterminado */
    border-radius: 50%; /* Aplica un borde circular para darle estilo */
    cursor: pointer; /* Cambia el cursor al estilo de selección */
}
.theme-form{
    margin: 12px 6px;
}
.no-items-message{
    padding: 12px 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 8px;
}
p{
    margin:0
}
.themes-container{
    justify-content: center;
    text-align: center;
}
.td-themes{
    padding: 4px;
    align-items: center;
}
p.title{
    margin-bottom: 0;
}
.theme-colors{
    display: flex;
    justify-content: center;
}
.theme-color{
    margin: 0 4px 0 4px;
    border: 1px solid black;
    border-radius: 2px;
    display: inline-block;
    height: 15px;
    width: 15px;
}
.btn-clear-themes{
    display: flex;
    margin-top: 8px;
    justify-content: center;
}
.hide-container {
    display: none;
}
#main{
    width: 100%;
} 
#main h3{
    margin: 0;
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #005a9c;
}
#main h4{
    padding-top: 0;
}
#search{
    background-color: rgb(233, 233, 233);
    justify-content: center;
    border-top: 1px ridge rgb(172, 171, 171);
}
@media screen and (max-width: 281px){
    .index-view-div{
        max-width: 60px;
        font-size: x-large;
    }
}
